@model CategorySearchViewModel

<form method="post">
    <div style="margin-bottom: 30px; overflow: hidden;">
        <div class="col-lg-6 float-right">
            <button class="btn btn-primary float-right" onclick="location.href='@Url.Action("Create")'" type="button" id="">New Category</button>
        </div>
        <div class="col-lg-6 float-left">
            <div class="search-box create-page">
                <div class="search-row">
                    <input class="form-control" id="searchTxt" type="text" name="Search" value="@Model.SearchTerm" placeholder="Search" />
                    <span onclick="action" id="searchBtn" class="ico-search10"></span>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <table class="table table-hover" id="categoryTable">
        <thead>
            <tr>
                <th scope="col">Category Name</th>
                <th scope="col">Product</th>
                <th scope="col">Images</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>
                            NA
                            @*@category.Products.Count
                            @foreach (var product in category.Products)
                            {
                                <span>@product.Name</span>

                            }*@
                        </td>
                        <td>
                            <div class="table-img">
                                <img src="@category.ImageUrl" />
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary editBtn" onclick="location.href='@Url.Action("Edit", "Category" , new RouteValueDictionary(new { id = category.ID }))'" data-id="@category.ID">Edit</button>
                            <button class="btn btn-primary deleteBtn" data-id="@category.ID">Delete</button>
                        </td>
                    </tr>}
            }
            else
            {
                <tr><td colspan="3" class="text-danger">No Categories found.</td></tr>}
        </tbody>
    </table>
    @*<div>
        @if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {

            if (Model.Pager.CurrentPage > 1)
            {
                <button class="pageButtons" data-pageno="1">First</button>
                <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)">Previous</button>}

            for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                <button class="@activeClass pageButtons" data-pageno="@page">@page</button>}

            if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)">Next</button>
                <button class="pageButtons" data-pageno="@Model.Pager.EndPage">Last</button>}
        }
    </div>*@
</div>
<script>
    $('#categoryTable').DataTable();
	$(".pageButtons").click(function () {
		$.ajax({
			url: '@Url.Action("CategoryTable", "Category")',
			data: {
				pageNo: $(this).attr("data-pageNo"),
				search: '@Model.SearchTerm'
			}
		})
        .done(function (response) {
        	$("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});

	$("#searchBtn").click(function () {
		var searchValue = $("#searchTxt").val();

		$.ajax({
			url: '@Url.Action("CategoryTable", "Category")',//'/Category/CategoryTable',
			data: {
				search: searchValue
			}
		})
        .done(function (response) {
        	$("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});

    $("#resetBtn").click(function () {
		var searchValue = '';
		$.ajax({
			url: '@Url.Action("CategoryTable", "Category")',//'/Category/CategoryTable',
			data: {
				search: searchValue
			}
		})
        .done(function (response) {
        	$("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	})

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
    })

	$(".deleteBtn").click(function () {
        swal({
            title: "Are tou sure you want to delete this category?",
            text: "Once deleted, you will not be able to recover this imaginary category!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    type: "POST",
                    url: "/Category/Delete",
                    data: {
                        ID: $(this).attr("data-id")
                    }
                })
                .done(function (response) {
                    $("#tableContainer").html(response);

                    swal("Record deleted successfully!", {
                        icon: "success",
                    });
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                });
            }
            else {
                swal("Your imaginary file is safe!");
            }
        });
    });
</script>
