@using FurnitureApplication.web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<div class="container" style="margin-top: 130px; margin-bottom: 30px;">
    <h2 style="text-align: center;">@ViewBag.Title</h2>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="loginimg-holder">
                <img src="../images/rastKey.png" />
            </div>
        </div>
        <div class="col-md-6">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <div class="checkbox">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="RememberMe" name="RememberMe" data-val="true" class="custom-control-input" data-val-required="The Remember me? field is required." value="true">
                            <input name="RememberMe" type="hidden" value="false">
                            <label class="custom-control-label" for="RememberMe">Remember me?</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
            }
            </section>
        </div>
        @*<div class="col-md-6">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div>
</div>
