@model FurnitureApplication.web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container" style="margin-top: 120px; margin-bottom: 30px;">
        <h2 style="text-align: center;">@ViewBag.Title</h2>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div class="loginimg-holder">
                    <img src="../images/rastKey.png" />
                </div>
            </div>
            <div class="col-lg-6">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    <div class="">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
