@model CheckoutViewModel

@if (Model != null && Model.CartProducts != null && Model.CartProducts.Count > 0)
{
    @Html.HiddenFor(x => x.CartProducts)
    <div id="main">
        <div class="main-holder">
            <div class="container" style="margin-top: 130px; margin-bottom: 30px;">
                <div class="heading-area">
                    <h2>Checkout</h2>
                </div>
                <div class="row">
                    <div class="col-md-5 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted" style="color: #212529 !important;">Your cart</span>
                            <span class="badge badge-secondary badge-pill">@Model.CartProducts.Count</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var product in Model.CartProducts)
                            {
                                var productQuanitity = Model.CartProductIDs.Where(productID => productID == product.ID).Count();

                                <li class="list-group-item">
                                    <div class="clearfix" style="overflow: hidden; margin-bottom: 10px;">
                                        <span class="quanitity"><b>Total Quantity:</b> @productQuanitity</span>
                                    </div>
                                    <div>
                                        <div class="table-img" style="float: left; margin-right: 10px;">
                                            <img src="@product.ImageUrl" />
                                        </div>
                                        <div style="float: left; width: 60%;">
                                            <h6 class="my-0">@product.Name</h6>
                                            <small class="text-muted">@(product.Description.Length > 50 ? product.Description.Substring(0, 49) : product.Description)...</small>
                                        </div>
                                        <span class="text-muted">$@product.Price</span>
                                    </div>
                                </li>
                            }

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (USD)</span>
                                <strong>$ @Model.CartProducts.Sum(x => x.Price * Model.CartProductIDs.Where(productID => productID == x.ID).Count())</strong>
                            </li>
                        </ul>
                        @Html.ActionLink("Print or PDF", "CheckoutDetail", "Shop1",null , new { @class = "btn btn-primary float-right" })
                    </div>
                    <div class="col-md-7 order-md-1">
                        <h4 class="mb-3">Billing address</h4>
                        <form class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="Name">Name</label>
                                    <input type="text" class="form-control" id="Names" value="@Model.User.Name" required="">
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com" value="@Model.User.Email">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" value="@Model.User.Address" required="">
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>
                            <hr class="mb-4">

                            <h4 class="mb-3">Payment</h4>
                            <div class="row">
                                <aside class="col-sm-12">
                                    <article class="card">
                                        <div class="card-body p-3">
                                            <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                                                        <i class="ico-credit-card"></i> Credit Card
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                                                        <i class="ico-cc-paypal"></i>  Paypal
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                                                        <i class="ico-shop"></i>  Bank Transfer
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="nav-tab-card">
                                                    <p class="alert alert-success">Some text success or error</p>
                                                    <form role="form">
                                                        <div class="form-group">
                                                            <label for="username">Full name (on the card)</label>
                                                            <input type="text" class="form-control" name="username" placeholder="" required="">
                                                        </div> <!-- form-group.// -->
                                                        <div class="form-group">
                                                            <label for="cardNumber">Card number</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="cardNumber" placeholder="">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text text-muted">
                                                                        <i class="ico-cc-visa"></i>
                                                                        <i class="ico-cc-amex"></i>
                                                                        <i class="ico-cc-mastercard"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div> <!-- form-group.// -->
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <div class="form-group">
                                                                    <label><span class="hidden-xs">Expiration</span> </label>
                                                                    <div class="input-group">
                                                                        <input type="number" class="form-control" placeholder="MM" name="">
                                                                        <input type="number" class="form-control" placeholder="YY" name="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                                                                    <input type="number" class="form-control" required="">
                                                                </div> <!-- form-group.// -->
                                                            </div>
                                                        </div> <!-- row.// -->
                                                        @*<button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>*@
                                                    </form>
                                                </div> <!-- tab-pane.// -->
                                                <div class="tab-pane fade" id="nav-tab-paypal">
                                                    <p>Paypal is easiest way to pay online</p>
                                                    <p>
                                                        <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i> Log in my Paypal </button>
                                                    </p>
                                                    <p>
                                                        <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                </div>
                                                <div class="tab-pane fade" id="nav-tab-bank">
                                                    <p>Bank accaunt details</p>
                                                    <dl class="param">
                                                        <dt>BANK: </dt>
                                                        <dd> THE WORLD BANK</dd>
                                                    </dl>
                                                    <dl class="param">
                                                        <dt>Accaunt number: </dt>
                                                        <dd> 12345678912345</dd>
                                                    </dl>
                                                    <dl class="param">
                                                        <dt>IBAN: </dt>
                                                        <dd> 123456789</dd>
                                                    </dl>
                                                    <p>
                                                        <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                </div> <!-- tab-pane.// -->
                                            </div> <!-- tab-content .// -->
                                        </div> <!-- card-body.// -->
                                    </article> <!-- card.// -->

                                </aside> <!-- col.// -->
                            </div> <!-- row.// -->




                            <button class="btn btn-primary btn-lg btn-block" id="placeOrderBtn" type="button">Continue to checkout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#placeOrderBtn").click(function () {
            $.ajax({
                url: '@Url.Action("PlaceOrder", "Shop1")',
                data: {
                    productIDs: '@string.Join( "-", Model.CartProductIDs)',
                }
            })
            .done(function (response) {
                if (response.Success) {
                    $.cookie("CartProducts", '', { path: "/" });
                    updateCartProducts();
                    swal("Done", "Your Order has been placed. and Email send", "success").then((value) => {
                        window.location = '@Url.Action("Index", "Shop1")';
                    });;
                }
                else {
                    swal("Failed", "unable to placed order.", "warning");
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
        });
        function printPDF(htmlPage) {
            var w = window.open("about:blank");
            w.document.write(htmlPage);
            if (navigator.appName == 'Microsoft Internet Explorer') window.print();
            else w.print();
        }
    </script>
}
else
{
    <div id="main">
        <div class="main-holder">
            <div class="container" style="margin-top: 130px; margin-bottom: 30px;">
                <div class="heading-area">
                    <h2>Checkout</h2>
                </div>
                <div class="text-center text-danger">
                    <p> No product in Cart.</p>
                </div>
            </div>
        </div>
    </div>
}
