@using FurnitureApplication.web.code
@model ShopViewModel
@{
    ViewBag.Title = "Index";
}

<div id="main">
    <div class="main-holder">
        <div class="container" style="margin-top: 130px; margin-bottom: 30px;">
            <div class="heading-area">
                <h2>Products</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="search-box" style="width: 100%;">
                        <form role="search" method="get" action="@Url.Action("Index", "Shop1")">
                            <div class="search-box" style="width:100%;">
                                <div class="search-row">
                                    <input class="form-control" id="searchTxt" type="search" value="@Model.SearchTerm" name="searchTerm" placeholder="Search" />
                                    <span onclick="action" id="searchBtn" class="ico-search10"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr />
                    <div class="form-group">
                        <h5 class="widget-title">Sort By</h5>
                        <ul class="sortBy">
                            <li><a href="#" data-href="@Url.Action("FilterProducts", "Shop1", new { sortBy = (int)SortByEnums.Default, categoryID = Model.CategoryID })" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnums.Default ? "active" : string.Empty : string.Empty)">Default - Newest</a></li>
                            <li><a href="#" data-href="@Url.Action("FilterProducts", "Shop1", new { sortBy = (int)SortByEnums.Popularity, categoryID = Model.CategoryID })" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnums.Popularity ? "active" : string.Empty : string.Empty)">Popularity</a></li>
                            <li><a href="#" data-href="@Url.Action("FilterProducts", "Shop1", new { sortBy = (int)SortByEnums.PriceLowToHigh, categoryID = Model.CategoryID })" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnums.PriceLowToHigh ? "active" : string.Empty : string.Empty)">Price: Low To High</a></li>
                            <li><a href="#" data-href="@Url.Action("FilterProducts", "Shop1", new { sortBy = (int)SortByEnums.PriceHighToLow, categoryID = Model.CategoryID })" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)SortByEnums.PriceHighToLow ? "active" : string.Empty : string.Empty)">Price: High To Low</a></li>
                        </ul>
                    </div>
                    <hr />
                    <div class="form-group clearfix">
                        <h5 class="widget-title">Filter Tags</h5>
                        <ul class="tag-list">
                            @foreach (var category in Model.FeaturedCategories)
                            {
                                <li><a class="dataLink btn btn-primary @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.ID ? "active" : string.Empty)" data-href="@Url.Action("FilterProducts", "Shop1", new { categoryID = category.ID, sortBy = Model.SortBy})">@category.Name</a></li>
                            }
                        </ul>
                    </div>
                    <hr />
                    <div class="form-group clearfix">
                        <div class="widget widget-price">
                            <h5 class="widget-title">Filter by price</h5>
                            <div class="price-filter">
                                <div id="slide-range"></div>
                                <p class="amount">
                                    Price: <input type="text" id="amount" disabled="">
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Shop1")" class="btn btn-primary">Reset Filters</a>
                </div>
                <div class="col-lg-8">
                    <div id="ProductsDiv">
                        @{
                            var filterProductsViewModel = new FilterProductsViewModel();
                            filterProductsViewModel.Products = Model.Products;
                            filterProductsViewModel.Pager = Model.Pager;
                            filterProductsViewModel.CategoryID = Model.CategoryID;
                            filterProductsViewModel.SortBy = Model.SortBy;

                            Html.RenderPartial("FilterProducts", filterProductsViewModel);
                        }
                    </div>

                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

<script>
    var callTimeout;

    var priceSlider = $( "#slide-range" ).slider({
        range: true,
        min: 0,
        max: @Model.MaximumPrice,
        values: [ 0, @Model.MaximumPrice ],
        slide: function( event, ui ) {
            var minPrice = ui.values[0];
            var maxPrice = ui.values[1];

            $("#amount").val("$" + minPrice + ".00" + "-" + "$" + maxPrice + ".00");
            clearTimeout(callTimeout);
            callTimeout = setTimeout(PriceRangeChange, 500);

        }
    });

    $(".dataLink").click(function(){
        var url = $(this).attr("data-href");
        if(url != "" || url != undefined){
            GetData(url);
        }
    });

    function GetData(durl){
        $.ajax({
            url: durl,
            data: {
                minimumPrice : priceSlider.slider("values", 0),
                maximumPrice : priceSlider.slider("values", 1)
            }
        })
        .done(function (response) {
            $("#ProductsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    }
    function PriceRangeChange(){
        $.ajax({
            url: '@Url.Action("FilterProducts", "Shop1")',
            data: {
                searchTerm: $("#SearchTerm").val(),
                sortBy: $("#SortBy").val(),
                categoryID: $("#CategoryID").val(),
                minimumPrice : priceSlider.slider("values", 0),
                maximumPrice : priceSlider.slider("values", 1)
            }
        })
        .done(function (response) {
            $("#ProductsDiv").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    }
</script>

