@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rast Furniture</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-reboot.min.css")
    @Styles.Render("~/Content/bootstrap-grid.min.css")
    @Styles.Render("~/Content/jquery.dataTables.min.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/all.css")
    @Styles.Render("~/Content/shortcodes.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/jquery-1.11.2.min.js")
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.cookie.js")
    @Scripts.Render("~/Scripts/sweetalert.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/jquery.isotope.min.js")
    @Scripts.Render("~/Scripts/main.js")

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="container">
                <div class="top-header">
                    <div class="float-right">
                        @*<div class="header-icon-links">
                            <a href="#">
                                <span class="number">2</span>
                                <span class="ico-heart11"></span>
                            </a>
                        </div>*@
                        <div class="header-icon-links">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="#" >@User.Identity.Name</a>
                            }
                        </div>
                        <div class="header-icon-links">
                            <a href="@Url.Action("Checkout", "Shop1")">
                                <span class="number" id="cartProductsCount">0</span>
                                <span class="ico-cart3"></span>
                            </a>
                        </div>
                    </div>
                    @*<div class="search-box float-left">
                        <div class="search-row">
                            <input type="text" placeholder="Search" />
                            <span class="ico-search10"></span>
                        </div>
                    </div>*@
                </div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="../../images/rast-furniture-logo.png"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Shop1")">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Checkout", "Shop1")">Checkout</a>
                            </li>
                            <li class="nav-item sign-in">
                                @{
                                    if (Request.IsAuthenticated)
                                    {
                                        <a class="nav-link" href="/account/logoff">Logout</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="/account/login">LogIn</a>
                                    }
                                }
                            </li>
                        </ul>
                        
                    </div>
                </nav>
            </div>
        </div>
        @RenderBody()
    </div>
    <div id="footer">
        <div class="footer-bottom">
            <div class="container">
                <p>© Powered by Rast</p>
                <ul class="social-links">
                    
                    <li><a href="#" class="ico-twitter4"></a></li>
                    <li><a href="#" class="ico-googleplus"></a></li>
                    <li><a href="#" class="ico-linkedin5"></a></li>
                </ul>

            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script>
        function updateCartProducts() {
            var cartProducts;
            var existingCookieData = $.cookie('CartProducts');

            if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) {
                cartProducts = existingCookieData.split('-');
            }
            else {
                cartProducts = [];
            }
            $('#cartProductsCount').html(cartProducts.length);
        };
        updateCartProducts();
    </script>
</body>
</html>
