<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-reboot.min.css")
    @Styles.Render("~/Content/bootstrap-grid.min.css")
    @Styles.Render("~/Content/all.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/jquery-1.11.2.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.min.js")
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="container">
                <div class="top-header">
                    <div class="float-right">
                        <div class="header-icon-links">
                            <a href="#">
                                <span class="number">2</span>
                                <span class="ico-heart11"></span>
                            </a>
                        </div>
                        <div class="header-icon-links">
                            <a href="#">
                                <span class="number">2</span>
                                <span class="ico-truck5"></span>
                            </a>
                        </div>
                        <div class="header-icon-links">
                            <a href="#">
                                <span class="number">2</span>
                                <span class="ico-cart3"></span>
                            </a>
                        </div>
                    </div>
                    <div class="search-box float-left">
                        <div class="search-row">
                            <input type="text" placeholder="Search" />
                            <span class="ico-search10"></span>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo">
                        <a class="navbar-brand" href="#"><img src="../images/rast-furniture-logo.png"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Products", "Products", "Home", new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })
                            </li>
                            
                            <li class="nav-item sign-in">
                                @Html.ActionLink("Login", "Login", "Home", new { @class = "nav-link" })
                            </li>
                            <li class="nav-item sign-in">
                                @Html.ActionLink("Register", "Register", "Home", new { @class = "nav-link" })
                            </li>
                        </ul>
                        
                    </div>
                </nav>
            </div>
        </div>
        @RenderBody()
    </div>
    <div id="footer">
        <div class="footer-bottom">
            <div class="container">
                <p>© Powered by Rast</p>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
