<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rast Furniture</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-reboot.min.css")
    @Styles.Render("~/Content/bootstrap-grid.min.css")
    @Styles.Render("~/Content/jquery.dataTables.min.css")
    @Styles.Render("~/Content/all.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/jquery-1.11.2.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery.cookie.js")
    @Scripts.Render("~/Scripts/sweetalert.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @*@Scripts.Render("~/Scripts/jquery.isotope.min.js")*@
    
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="container">
                <div class="top-header">
                    <div class="float-right">
                        <div class="header-icon-links">
                            <a href="#">
                                <span class="number">2</span>
                                <span class="ico-heart11"></span>
                            </a>
                        </div>
                        <div class="header-icon-links">
                            <a href="#">
                                <span class="number">2</span>
                                <span class="ico-truck5"></span>
                            </a>
                        </div>
                        <div class="header-icon-links">
                            <a href="#">
                                <span class="number">2</span>
                                <span class="ico-cart3"></span>
                            </a>
                        </div>
                    </div>
                    <div class="search-box float-left">
                        <div class="search-row">
                            <input type="text" placeholder="Search" />
                            <span class="ico-search10"></span>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="../../images/rast-furniture-logo.png"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                                @*@Html.ActionLink("Index", "Home", new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Shop1")">Shop</a>
                                @*@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Checkout", "Shop1")">Checkout</a>
                                @*@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item sign-in">
                                @Html.ActionLink("Logout", "Login", "Home", new { @class = "nav-link" })
                            </li>
                        </ul>
                        
                    </div>
                </nav>
            </div>
        </div>
        @RenderBody()
    </div>
    <div id="footer">
        <div class="footer-bottom">
            <div class="container">
                <p>© Powered by Rast</p>
                <ul class="social-links">
                    <li><a href="@ConfigurationsService.Instance.GetConfig("FacebookURL").value" class="ico-facebook5"></a></li>
                    <li><a href="#" class="ico-twitter4"></a></li>
                    <li><a href="#" class="ico-googleplus"></a></li>
                    <li><a href="#" class="ico-linkedin5"></a></li>
                </ul>

            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
